*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    padding: 0;
    width: 50%;
    table-layout: fixed;
}

select{
    text-align: center;
    width: 100px;
    height: 30px;
}




table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    text-align: left;
    color: cornflowerblue;
    font-weight: bold;
}

table tr {
    padding: .35em;
}

table th{
    padding: .625em;
    text-align: left;
}
table td {
    padding: .625em;
    text-align: left;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

input{
    margin-top: 10px;
    width: 150px;
    height: 30px;
}

.button-submit{
    border: none;
    background: cadetblue;
    width: 100px;
    height: 30px;
}

.place-group select{
    margin-top: 10px;
}


.